# Ignore all site-specific files

backup/
bin/*.pl
cgi-bin/
ci_*_application/cache
ci_*_application/config/config.php
ci_*_application/config/database.php
ci_*_application/logs/*
!ci_*_application/logs/index.html
ci_*_application/site_specific_language/*/
ci_*_application/views/*/
files/*/*
files_managed/*/*
includes/*
!includes/adxmenu/
includes/adxmenu/*/*.css
!includes/calendardateselect/
!includes/cufon/
includes/cufon/*/fonts/
!includes/lightbox/
!includes/prototype/
!includes/scripts/
!includes/scriptaculous/
!includes/swfupload/
includes/swfupload/*/*.gif
includes/swfupload/*/*.css
!includes/tinymce/
/robots.txt
/favicon.*
