# Ignore all site-specific files

backup/
bin/*.pl
cgi-bin/
ci_*_application/cache
ci_*_application/config/config.php
ci_*_application/config/database.php
ci_*_application/logs/*
!ci_*_application/logs/index.html
ci_*_application/site_specific_language/*/
ci_*_application/views/*/
files/*/*
files_managed/*/*
includes/adxmenu/*/*.css
includes/cufon/*/fonts/
includes/images/*
includes/styles/*
includes/swfupload/*/*.gif
includes/swfupload/*/*.css
/robots.txt
/favicon.*
